@{
    ViewData["Title"]="Ten";
}
<form asp-action= "Ten">
    </label>Nhập PersonId:</label>
    <input type="text" name=""PersonId"">
    </label>Nhập họ tên:</label>
    <input type="text" name=""Fullname="">
    </label>Nhập địa chỉ:</label>
    <input type="text" name=""Address="">
    </label>Nhập EmployeeId:</label>
    <input type="text" name=""EmployeeId"">
    </label>Nhập tuổi:</label>
    <input type="text" name=""Age"">
    <input type="submit" value=""Gửi dữ liệu"">
</form>
<h3>@ViewBag.infoTen</h3>