@model MvcMovie.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class = "row">
    < class ="col-md-4">
      <form asp-action ="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PersonId" class="control-label"></label>
        <input asp-for="PersionId" class="form-control"
        </div>
      </form>
        
    </div>
</div>